
<form method="post" action="/users/edit">
    <div class="container-fluid form-group">
        <div class="container-fluid m-2">
            {{>user_messages}}
        </div>
        <input type="hidden" name="saveMethod"
               value="{{#if isCreate}}create{{else}}update{{/if}}"/>
        <input type="hidden" name="objectId" value="{{objectId}}"/>
        <div class="form-group row justify-content-center">
            <div class="col-2 text-right font-weight-bold">
                <label class="col-form-label" for="first">First Name:</label>
            </div>
            <div class="col-10">
                <input class="form-control col-9 pull-right" required="required" type="text" name="first" value="{{first}}"/><br/>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-2 text-right font-weight-bold">
                <label class="col-form-label" for="last">Last Name:</label>
            </div>
            <div class="col-10">
                <input class="form-control col-9 pull-right" required="required" type="text" name="last" value="{{last}}"/><br/>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <div class="col-2 text-right font-weight-bold">
                <label class="col-form-label" for="email">Email: </label>
            </div>
            <div class="col-10 text-left font-weight-bold">
                <input class="form-control col-9 pull-right" required="required" type="text" name="email" value="{{email}}"/><br/>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-2 text-right font-weight-bold">
                <label class="col-form-label" for="password">Password:</label>
            </div>
            <div class="col-10">
                <a class="form-control col-9 pull-right mt-3 btn btn-lg btn-block btn-outline-dark" type="text" name="password" href="/users/password_change">Change Password</a>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <input class="btn btn-warning col-2" type="submit" value="Submit"/>
        </div>
    </div>
</form>


